<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Control</title>
    <link rel="stylesheet" href="https://kit.fontawesome.com/4ba051dc8f.css" crossorigin="anonymous">
    <link rel="stylesheet" href="panelcontrol.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>
   
    <nav class="navbar navbar-light bg-primary justify-content-between">
        <a class="navbar-brand">Navbar</a>
        <form class="navbar-left navbar-form nav-search" action="">
            <div class="input-group">
                <input type="text" placeholder="Buscar ..." class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fa fa-search search-icon"></i>
                    </span>
                </div>
            </div>
        </form>
    </nav>

    <nav class="nav flex-column">
        <a class="nav-link active" href="#">Ingresar</a>
        <a class="nav-link" href="#">Prox. a vencer</a>
        <a class="nav-link" href="#">Vencidos</a>
        <a class="nav-link disabled" href="#">Aptos</a>
    </nav>

    <script src="js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4ba051dc8f.js" crossorigin="anonymous"></script>
</body>
</html>