<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Conde-V</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.10/tailwind.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="flex text-gray-800 min-h-screen overflow-x-hidden">
  <aside
    class="hidden z-40 top-0 bottom-0 md:top-auto md:bottom-auto md:flex flex-col w-72 bg-white shadow-sm"
  >
    <a href="#" class="flex items-center mx-auto my-12">
      <div class="h-8 w-8 bg-blue-600 mr-3 rounded-full"></div>
      <span class="text-3xl font-semibold italic">Conde-V</span>
    </a>
    
    
    <nav class="font-semibold text-gray-600 my-12">
      <ul class="space-y-1">
        <li>
          <a href="#" class="flex items-center px-8 py-3 bg-gradient-to-r hover:from-blue-200 hover:text-blue-600">
            <svg xmlns="http://www.w3.org/2000/svg" 
                width="16" 
                height="16" 
                fill="orange"
                stroke="currentColor"
                class="bi bi-circle-fill" 
                viewBox="0 0 24 24">
            <circle cx="8" cy="14" r="8"/>
            </svg>
            Prox a vencer
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center px-8 py-3 bg-gradient-to-r hover:from-blue-200 hover:text-blue-600">
            <svg xmlns="http://www.w3.org/2000/svg" 
            width="16" 
            height="16" 
            fill="red"
            stroke="currentColor"
            class="bi bi-circle-fill" 
            viewBox="0 0 24 24">
        <circle cx="8" cy="14" r="8"/>
        </svg>
            Vencidos
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center px-8 py-3 bg-gradient-to-r from-blue-200 text-blue-600 inset-active-link"
          >
          <svg xmlns="http://www.w3.org/2000/svg" 
            width="16" 
            height="16" 
            fill="green"
            stroke="currentColor"
            class="bi bi-circle-fill" 
            viewBox="0 0 24 24">
            <circle cx="8" cy="14" r="8"/>
           </svg>
            Aptos
          </a>
        </li>
         <li>
          <a href="#" class="flex items-center px-8 py-3 bg-gradient-to-r hover:from-blue-200 hover:text-blue-600">
            <svg
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="h-5 w-5 mr-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
              />
            </svg>
            Calendario
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center px-8 py-3 bg-gradient-to-r hover:from-blue-200 hover:text-blue-600">
            <svg
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="h-5 w-5 mr-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              />
            </svg>
            Opciones
          </a>
        </li>
        <li>
            <a href="#" class="flex items-center px-8 py-3 bg-gradient-to-r hover:from-blue-200 hover:text-blue-600">
              <svg
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="h-5 w-5 mr-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                />
              </svg>
              Salir
            </a>
          </li>
      </ul>
    </nav>

  </aside>
  <div class="flex-grow bg-gray-100">
    <header class="mt-12 px-16">
      <div class="flex items-center mb-2">
        <h1 class="text-3xl font-semibold mr-4">Medicamento:</h1>
        <div class="hidden lg:flex">
        </div>
        
        <div class="ml-auto flex items-center space-x-3">
        
          
        </div>
      </div>
      <div class="flex space-x-6">
        <div class="font-semibold">
          <span class="text-gray-600 text-sm mr-1">Id: </span>
          <span class="text-blue-500">01</span>
        </div>
        <div class="font-semibold">
          <span class="text-gray-600 text-sm mr-1">Nombre:</span>
          <span class="text-blue-500">Ibuprofeno</span>
        </div>
        <div class="font-semibold">
            <span class="text-gray-600 text-sm mr-1">Precio: </span>
            <span class="text-blue-500">10bs</span>
          </div>
          <div class="font-semibold">
            <span class="text-gray-600 text-sm mr-1">F. ingreso: </span>
            <span class="text-blue-500">17/02/23</span>
          </div>
          <div class="font-semibold">
            <span class="text-gray-600 text-sm mr-1">F. elaboración: </span>
            <span class="text-blue-500">28/01/23</span>
          </div>
          <div class="font-semibold">
            <span class="text-gray-600 text-sm mr-1">F. vencimiento: </span>
            <span class="text-blue-500">28/03/23</span>
          </div>
      </div>
    </header>
    <main class="relative px-16 py-4 space-y-4">
      <div class="flex">
        <div class="relative flex-grow mr-8">
          <span class="absolute top-0 left-0 mt-3 ml-4">
            <svg
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="h-5 w-5 text-gray-500"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              />
            </svg>
          </span>
          <input
            type="text"
            placeholder="Search"
            class="pl-12 pr-2 py-2 w-full font-medium bg-white border-2 border-transparent focus:outline-none focus:border-purple-600 rounded-lg"
          />
        </div>
        <button
          class="py-2 pl-5 pr-6 mr-3 flex items-center flex-shrink-0 bg-blue-600 rounded-lg text-white text-sm font-semibold hover:bg-purple-700"
        >
          <svg viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 mr-2">
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
              clip-rule="evenodd"
            />
          </svg>
          Agregar Medicamento
        </button>

      </div>
      <div class="bg-gray-200 text-center py-64 rounded-lg text-4xl text-gray-500">Content</div>
    </main>
  </div>
</div>
<!-- partial -->
  
</body>
</html>
